body {
    background-color: ghostwhite;
    margin: 0;
}

.itemTwo {
    width: 100vw;
    display: flex;

    margin: 25px;
    justify-content: center;
}

.itemOne {
    width: 100vw;
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    padding: 10px;
    text-align: center;
}

.cardsContent {
    color: white;
    width: 35vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5%;
}

.cardsContent button {
    width: 5vw;
    display: flex;
    justify-content: flex-end;
}
.cardsContent hr {
    width: 100%;
}
.cardsContent h2 {
    margin: 5px;
}
.cardsContent h1 {
    height: 6vh;
}

.answers button {
    width: 10vw;
    align-self: center;
}
.answers {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5%;
}
.answerOpt {
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.playGround {
    width: 45vw;
    height: 40vh;
    background-color: black;
    overflow-y: hidden;
    border-radius: 5%;
}

.playGround h3 {
    color: white;
    text-align: center;
    height: 7vh;
}

.singleAnswer {
    background-color: white;
    margin: 5px;
    text-align: center;
    width: 10vw;
    height: 300px;
    border: 4px solid black;
}

.singleAnswer h3,
.singleAnswer h4 {
    padding: 4px;
}

.singleAnswer:hover {
    background-color: hotpink;
    cursor: pointer;
}

.playedCards {
    background-color: white;
    margin: 3px;
    text-align: center;
    width: 10vw;
    height: 250px;
    border: 4px solid hotpink;
}

#messages {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#modalStart {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;
    background-color: black;
    color: hotpink;
    font-size: 20px;
}

#modalWait {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;
    background-color: hotpink;
    color: black;
    font-size: 20px;
}

#modal-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 35vw;
    height: 35vh;
}

.newUserName {
    color: white;
}

.flip-card {
    background-color: transparent;
    width: 35vw;
    height: 40vh;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5%;
}

.flip-card-front {
    background-color: black;
    color: white;
}

.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.flip-card-back {
    text-align: center;
}

.waitingGif {
    -webkit-animation: fadein 15s;
    animation: fadein 15s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .waitingGif {
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
} */
